{% extends "accounts/base.html" %}
{% load static %}

{% block about_page %}

<div class="container">
    <h2>About MIT Thandavapura</h2>
    <p style="text-align: justify;">MITT Alumni Association is dedicated to bringing together the alumni community on a common platform to build another channel of personal and professional 
        support to members through 'self-help' within the community. MIT Thandavapura Alumni Association today has a membership of over 1,000 graduates from our 
        alma mater and is growing at about 2,000 members a year. It is one of the most active alumni associations and operates through a network of national and 
        international chapters. Our alumni are spread the world over and figure amongst who’s who worldwide. Apart from serving as a base for information about the alumni, 
        it initiates programs and organizes events important to alumni, their alma mater, and in the national interest.</p>
</div>

{% endblock %}
