{% extends "accounts/base.html"%}

{% block profile_page %}

<div class="container-fluid">
{% if events %}
{% for event in events %}
<div class="card" style="margin-top: 20px; width: 70%">
  <div class="card-header">
    {{ event }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ event.name }}</h5>
    <p class="card-text">Description :<br/> {{ event.description }}</p>
    <p class="card-text">Hosted By: {{ event.hosted_dept }}</p>
    <p class="card-text">Event Date: {{ event.event_date}}</p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

{% endfor %}
{% else %}
<h2>No Event Available</h2>
{% endif %}
</div>
{% endblock %}
